/************ GLOBAL ****************/

:root {
    --highlight: #7d93ff;
    --main: #dde1e6;
}

.background-gradient {
    background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(53,51,205,1) 100%);
    z-index: -1;
}

.hidden {
    display: none !important; 
}

.top {
    position: relative;
    z-index: 1;
}

/************** HOME PAGE ***************/

.triangle1 {
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.08;
    clip-path: polygon(0 100%, 11% 0, 53% 100%);
    z-index: 0;
    position: fixed;
    left: 0;
    animation: triangle1Animation 2200ms; 
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

.triangle2 {
    width: 85%;
    height: 100%;
    background-color: grey;
    opacity: 0.08;
    clip-path: polygon(28% 0, 80% 0, 70% 100%);
    z-index: 0;
    position: fixed;
    top: 0;
    right: 18%;
    animation: triangle2Animation 2200ms; 
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

.home-section {
    color: var(--main);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal
}

.home-section h1 {
    font-size: 5vw;
    letter-spacing: 3px;
    margin-top: 4%;
    margin-bottom: 0%;
    animation: fadeInTopToBottom 2200ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

/***** Tagline *****/
.home-section h2 {
    font-size: 1.2vw;
    opacity: 0.6;
    font-weight: 1;
    margin-top: 1%;
    margin-bottom: 4%;
    animation: fadeInRotate 600ms;
    animation-delay: 1800ms;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
}

/************* Links *************/
.home-section h3 {
    animation: fadeInLeftToRight 2200ms; 
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

.home-section a {
    color: var(--main);
    font-size: 1.75vw;
    margin-top: 1%;
    margin-left: 1.8vi;
    margin-right: 1.8vi;
}

/************** Summary *************/
.home-section p {
    font-weight: 1;
    opacity: 0.7;
    font-size: 1.4vw;
    margin-top: 5%;
    margin-left: 23%;
    margin-right: 23%;
    line-height: 115%;
    animation: fadeInRightToLeft 2200ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

#headshot {
    display: block;
    width: 15%;
    height: auto;
    margin: 2% auto;
    animation: fadeInBottomToTop 2000ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}


/************* PROJECT MENU 'PAGE' ***************/

#project-container {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;

    cursor: pointer;
    color: var(--main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: left;
}

.project-category {
    width: 18%;
    height: fit-content;
    font-size: 1.5vw;
    line-height: 200%;
    margin: 1%;
    padding: 1%;
    list-style: none;
    border: 1px solid var(--main);
}

.project-category li {
    font-size: 1.5vw;
    transition: transform 0.1 ease;
}

.project-category li:hover {
    transform: scale(1.03);
}

.project-list {
    width: 73%;
    height: 18vi;
    font-size: 1.2vw;
    line-height: 150%;
    margin: 1%;
    padding: 1%;
    position: relative; 
    display: none;
    list-style: inside;
    border: 1px solid var(--main);
}

.project-list li {
    transition: transform 0.1 ease;
}

.project-list li:hover {
    transform: scale(1.01);
}

/*********** PROJECT DESCRIPTIONS *************/

#project-description-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 23.8%;
    border: 1px solid var(--main);
    padding-right: 1%;
}

.project-description {
    color: var(--main);
    font-family: Arial;
}

.project-description h2 {
    white-space: nowrap;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.2vw;
    text-align: center;
    font-weight: normal;
}

.project-description a {
    color: var(--main);
}

.project-description p {
    white-space: nowrap;
    font-size: 1vw;
    line-height: .7;
    text-align: left;
    font-weight: lighter;
    padding-right: 1%;
    padding-left: 1.2%;
}

.project-description ul {
    font-size: 1vw;
    line-height: 1.5;
    font-weight: lighter;
    list-style: inside;
    padding-left: 6%;
}

.project-description-animation {
    animation: fadeInScaleUp 320ms;
}

.project-image {
    display: block;
    width: 15%;
    height: auto;
    margin: 2% auto;
}

/*************** ANIMATIONS *****************/

@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: translateY(-75%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeInLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 0.7;
        transform: translateX(0);
    }
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    100% {
        opacity: .6;
        transform: rotateX(0deg);
    }
}

@keyframes triangle1Animation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 0.08;
        transform: translateY(0);
    }
}

@keyframes triangle2Animation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.08;
        transform: translateY(0);
    }
}

/******* MOUSE BEHAVIOR ********/
@media (hover: hover) {
    a:hover {
        color: var(--highlight);
    }
    .project-category li:hover {
        color: var(--highlight);
    }
    .project-list li:hover {
        color: var(--highlight);
    }
}

@media (hover: none) {
    a:active {
        color: var(--highlight);
    }
    .project-category li:active {
        color: var(--highlight);
    }
    .project-list li:active {
        color: var(--highlight);
    }
}

.enlarge-on-hover {
    transition: transform 0.1 ease;
}

.enlarge-on-hover:hover {
    transform: scale(1.01);
}


/********** MOBILE FORMATTING ************/

@media (max-width: 440px) {

    .triangle1 {
        display: none;
    }
    .triangle2 {
        display: none;
    }
    .home-section h1 {
        font-size: 28px;
        letter-spacing: .5vw;
    }

    .home-section h2 {
        font-size: 11px;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    .home-section a {
        font-size: 14px;
        margin: .5vi;
    }
    .home-section p {
        font-size: 14px;
        margin-left: 5%;
        margin-right: 5%;
    }
    #headshot {
        width: 35%;
        margin: 10% auto;
    }

    #project-container {
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: nowrap;
    }

    .project-category {
        border: none;
        text-align: center;
        height: fit-content;
        width: 100%;
        align-self: center;
    }

    .project-category li {
        line-height: 150%;
        font-size: 16px;
    }

    .project-category li:active {
        transform: scale(1.05);
    }

    .project-list {
        height: fit-content;
        width: 100%;
        font-size: 15px;
        line-height: 200%;
        align-self: center;
    }

    .project-list li:hover {
        transform: scale(1.02);
    }

    #project-description-container {
        width: 101%;
        align-self: center;
        margin: 0;
    }

    .project-description h2 {
        font-size: 14px;
        white-space: wrap;
        margin-bottom: 6%;
        line-height: 150%;
    }

    .project-description p {
        font-size: 12px;
        white-space: wrap;
        line-height: 115%;
        margin-left: 2%;
    }

    .project-description p::first-letter {
        margin-left: -2%;
    }

    .project-description ul {
        font-size: 12px;
        line-height: 150%;
    }
}